@import 'src/styles.scss';

.invoice-section {
  margin-top: 3rem;
  margin-bottom: 5rem;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 25rem;
    justify-items: flex-end;
    align-content: flex-end;
  }

  .footer-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .label, .code {
    font-weight: bolder;
    font-family: $secondary-font;
  }

  .label-group {
    display: flex;
    flex-direction: row;
    gap:1rem;
  }

  .label {
    color: #929292;
  }

  .table-section {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2em;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    .table-headings{
      color: #8E8E8E;
    }

    header {
      grid-column: 1 / span 3;
    }

    span {
      font-weight: bolder;
    }


    .product-item {
      display: grid;
      grid-column: 1 / span 3;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 2rem;
    }

    .divider {
      grid-column: 1 / span 3;
      --size: 1rem;
      margin-top: var(--size);
      margin-bottom: var(--size);
    }
  }
}
