<main class="container">
  <app-page-description-header title="Añade un combo" subtitle="Completa tu tarde de sensaciones increibles">
  </app-page-description-header>
  <div class="ticket-container">
    <app-combo-view *ngFor="let combo of combos" [id]="combo.id" [title]="combo.name"
      [subtitle]="transformToCurrency(combo.value.toString())" [disableIncrement]="count >= ticketCount" (countChange)="comboViewCountChange($event)">
    </app-combo-view>
  </div>
  <section class="bottom-section">
    <section class="alert-section" [ngClass]="{ 'collapsed' : count < ticketCount }">
      <span class="red-text text-darken-3">¡Uh oh! has alcanzado el límite de combos permitido :s</span>
    </section>
    <div class="subtotal-group">
      <section class="subtotal-combo-section">
        <h4 class="label">
          Subtotal Combo
        </h4>
        <input class="number-input" disabled name="" id="" [value]="transformToCurrency(subtotalCombo)">
      </section>
      <section class="subtotal-section">
        <h4 class="label">
          Subtotal
        </h4>
        <input class="number-input" disabled name="" id="" [value]="transformToCurrency(ticketValue + subtotalCombo)">
      </section>
    </div>
  </section>
  <div class="button-container">
    <button class="btn" (click)="onContinue()">Siguiente</button>
  </div>
  <div class="section"></div>
</main>
