@import 'src/styles.scss';

.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  margin-bottom: 3rem;

  &> * {
    --padding: 3rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}
