<main class="container">
  <app-page-description-header title="Tu factura" subtitle="A un solo paso de disfrutar de MundoCinema">
  </app-page-description-header>
  <section class="invoice-section modal-style">
    <header>
      <div class="label-group">
        <span class="label">ID:</span>
        <span class="code italic"># MC<span class="code">{{formatId(id)}}</span></span>
      </div>
      <div class="label-group">
        <span class="label">Fecha:</span>
        <span class="code">1985 / 01 / 01 - 1:32 p.m.</span>
      </div>
    </header>
    <section class="table-section">
      <header>
        <span class="label black-text">Productos</span>
      </header>
      <span class="label">Nombre</span>
      <span class="label">Cantidad</span>
      <span class="label">Precio</span>
      <div class="divider"></div>
      <div class="product-item" *ngFor="let product of products">
        <span class="name">{{product.name}}</span>
        <span class="quantity">x{{product.count}}</span>
        <span class="value">{{product.total | currency}}</span>
      </div>
    </section>
    <div class="footer-wrapper">
      <footer>
        <span class="label">Total</span>
        <span class="code">{{invoiceTotal | currency}}</span>
      </footer>
    </div>
  </section>
  <section class="btn-group">
    <button class="btn red darken-3">Cancelar</button>
    <button class="btn" (click)="onContinue()">Confirmar</button>
  </section>
</main>
