<main class="container">
  <app-page-description-header title="Proceso exitoso" subtitle="Se ha completado el proceso de facturación con éxito"></app-page-description-header>
  <p class="flow-text main-font center">Compra realizada, gracias por elegirnos</p>
  <p class="flow-text main-font center">¡Presenta este código en una sala MundoCinema para disfrutar de tu película!</p>
  <h1 class="invoice-id center">MC{{zeroFill(invoiceId)}}</h1>
  <div class="qr-section">
    <qr-code class="qr-code" [size]="350" [value]="invoiceURL"></qr-code>
  </div>
</main>
