article {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.childContainer {
		height: 11.5rem;
		overflow: hidden;
		display: flex;
		align-items: center;
	}

	p {
		font-size: 1.125rem;
	}
}
