/* You can add global styles to this file, and also import other style files */

@import '~ngx-smart-modal/ngx-smart-modal';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

$main-font: 'Poppins', sans-serif;
$secondary-font: 'Ubuntu', sans-serif;
$main-color: #242D80;
$accent-color-1: #646CB0;
$accent-color-2: #ABABAB;
$accent-color-3: #72D045;
$accent-color-4: #D2D2D2;
$accent-color-5: #1E9ACF;
$button-radius: 0.3125rem;
$modal-radius: 0.9375rem;
$modal-padding: 2.1875rem;
$shadow-profile: 0 2px 8px rgba(0,0,0,0.25);

.main-font {
  font-family: $main-font;
}

.secondary-font {
  font-family: $secondary-font;
}

body {
  background-color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $main-font;
}

p, a, div {
  font-family: $secondary-font;
}

.main-color-bg {
  background-color: $main-color;
}

.accent-color-1-bg {
  background-color: $accent-color-1;
}

.accent-color-2-text {
  color: $accent-color-2;
}

.accent-color-5-text {
  color: $accent-color-5;
}

.modal-style {
  background-color: white;
  border-radius: $modal-radius;
  padding: $modal-padding;
  box-shadow: $shadow-profile;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .btn {
    border-radius: $button-radius;
    background-color: $accent-color-1;
    box-shadow: none;

    &:hover {
      background-color: lighten($accent-color-1, 10%);
    }

    &:active {
      background-color: darken($accent-color-1, 15%);
    }

    &:focus {
      background-color: darken($accent-color-1, 5%);
    }
  }
}

.top-margin-only {
  margin-bottom: 0;
}

.bottom-margin-only {
  margin-top: 0;
}

.no-vmargin {
  margin-top: 0;
  margin-bottom: 0;
}

.label-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .title, .subtitle {
    font-family: $secondary-font;
  }

  .title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 1.125rem;
    margin: 0;
    color: $accent-color-2;
  }
}

.collapsed {
  visibility: collapse;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: #C4C4C4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 15px;
  border: 3px solid #C4C4C4;
}
